.individual-item {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  list-style: none;
  margin: 1rem;
}

.item-card {
  flex: 1 1 calc(50% - 20px); 
  margin-bottom: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #02cdbc;
  padding: 1rem;
  border-radius: 3px;
  transition: all 0.3s ease;
  max-width: 20vw;
}

.item-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.rating-system-container {
  flex: 1 1 calc(50% - 20px); 
  max-width: 20vw;
}
